
// Colours
$light-grey:		#EEEEEE;
$medium-grey: 		#515151;
$dark-grey:			#333333;

$off-black:			#191919;
$off-white:			#FAFAFA;
$pure-black:		#000000;
$pure-white:		#FFFFFF;

$link-color:		#00B4FF;
$link-color-hover:	#00A3E2;

// Typography
$body-font-size: 16px; // 16px (100%)
$body-font-stack: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body-font-weight: 400;
$body-line-height: 1.5; // 24px